openai<1.100.0
torch
torchaudio
torchvision
transformers
wandb
datasets
accelerate
vllm>=0.9.1
ipykernel
ipython
gradio
sentence-transformers
langchain
langchain_community
langchain_core
langchain_openai
langchain_text_splitters
faiss-gpu-cu12